Click>=7.0,<8.0
watchdog>=0.10.2,<1.0.0
coverage>=5.1.0,<6.0.0
Sphinx>=3.0.3,<4.0.0
sphinx-rtd-theme>=0.4.3
sphinxcontrib-napoleon>=0.7
urllib3>=1.25.9
CProfileV>=1.0.7
PyGithub>=1.51.0,<2.0.0
pylint>=2.0.0
